/*common.css*/
@import url('all.css');
@import url('https://fonts.googleapis.com/css?family=Noto+Sans+KR:300,500,700,900|Noto+Serif+KR:300,500,700,900&display=swap');
body{
    font-family: 'Noto Sans KR', 'Malgun gothic', '맑은 고딕', 'applegothic';
    font-weight: 300;
    font-size: 1.2rem;
    color: #555;
    line-height: 20px;
}











































