%redLine {
  display: block;
  content: "";
  width: 10px;
  height: 3px;
  background-color: red;
}
%backgroundSet {
  background-size: cover;
  background-position: center;
}
%animateSet {
  transform-origin: center;
  animation-duration: 12s;
  animation-name: logo;
  animation-iteration-count: infinite;
  animation-timing-function: linear;
}

@keyframes logo {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

body {
  overflow: hidden;
}

.main {
  width: 100vw;
  height: 100vh;
  background-color: red;
  position: fixed;
  top: 0;
  z-index: 100;

  h1 {
    width: 120px;
    height: 120px;
    text-align: center;
    line-height: 120px;
    border-radius: 100px;
    cursor: pointer;
    background-image: url("../img/logo.png");
    @extend %backgroundSet;
    @extend %animateSet;
    position: absolute;
    margin: auto;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
  }
}

.wrapper {
  width: 300%;
  height: auto;
  display: flex;
  margin: 0;
  position: static;
  margin-left: 0;
  height: 100vh;

  .page {
    width: 33.33%;
    overflow: hidden;
  }

  .pg1 {
    background-color: #222;
  }
  .pg2 {
    background-color: white;
  }
}

.abtWrap {
  color: white;
  padding: 40px 10vw;
  text-align: right;
  position: relative;

  header {
    h1 {
      display: block;
      width: 120px;
      height: 120px;
      text-align: center;
      line-height: 120px;
      border-radius: 100px;
      background-image: url("../img/logo.png");
      @extend %backgroundSet;
      margin: 0 auto;
      @extend %animateSet;
      cursor: pointer;
    }

    h2 {
      display: none;
    }
  }

  .segment:nth-child(2) {
    margin-top: 40px;
  }
  .segment::before {
    @extend %redLine;
    margin-left: auto;
  }

  h3 {
    font-weight: bold;
    font-size: 24px;
    line-height: 40px;
  }

  h4 {
    font-size: 12px;
    line-height: 30px;
  }

  span {
    font-size: 16px;
  }
}

.hdrWrap {
  padding: 40px 0;
  padding-left: 3vw;
  position: relative;

  h1 {
    display: none;
    width: 120px;
    height: 120px;
    text-align: center;
    line-height: 120px;
    border-radius: 100px;
    cursor: pointer;
    background-color: #ccc;
    @extend %animateSet;
  }

  header {
    position: absolute;
    height: 140px;
    margin: auto;
    top: 0;
    bottom: 0;

    .poTitle {
      height: 80px;
      overflow: hidden;

      h2 {
        font-family: "Scheherazade", serif;
        font-weight: bold;
        font-size: 48px;
        line-height: 80px;
        color: black;
        cursor: pointer;
      }
    }
    .poTitle::before {
      @extend %redLine;
      margin-left: 4px;
    }

    .poTarget {
      height: 20px;
      overflow: hidden;
      margin-top: 20px;
    }

    .poTerm {
      @extend .poTarget;
      margin-top: 0;

      h3 {
        font-weight: bold;
        font-size: 14px;
        line-height: 20px;
      }
    }
  }

  .indicator {
    height: 40px;
    position: absolute;
    margin: auto;
    top: 0;
    bottom: 0;
    right: 20px;

    li {
      height: 10px;
      width: 20px;
      background-color: #ccc;
      border: 2px solid white;
      border-radius: 10px;
      margin-left: auto;
    }
    li:first-child {
      width: 30px;
    }
  }

  nav {
    width: 120px;
    overflow: hidden;
    position: absolute;
    left: 3vw;
    bottom: 40px;
    cursor: pointer;

    ul {
      display: flex;
      width: 240px;

      li {
        width: 120px;
        font-weight: bold;
        font-size: 11px;
        line-height: 30px;
      }
    }
  }
  nav::before {
    @extend %redLine;
  }
}

.seWrap {
  position: relative;

  .content {
    display: block;
    height: 100vh;
    overflow: auto;

    header {
      display: none;
    }

    section {
      width: 100%;
      overflow: auto;
      padding: 40px 0;

      .seHeader {
        width: 80%;
        margin: 0 auto;

        h2 {
          line-height: 40px;
          font-weight: bold;
          font-size: 24px;
          color: black;
          font-family: "Scheherazade", serif;
        }
        h2::before {
          @extend %redLine;
        }

        .poPlan {
          margin-top: 20px;

          h3 {
            margin-top: 0;
            font-size: 12px;
            color: black;
          }

          h4 {
            font-size: 12px;
          }

          button {
            margin-top: 20px;
            padding: 10px;
            font-size: 12px;
            background-color: white;
            border-radius: 10px;
            border: 1px solid #999;
            color: black;
            box-shadow: 2px 1px 5px #ccc;
          }
        }
        .poPlan::before {
          @extend %redLine;
        }

        p {
          margin-top: 20px;
        }
        p::before {
          @extend %redLine;
        }
      }

      article {
        width: 80%;
        margin: 0 auto;
        margin-top: 40px;

        .img {
          width: 100%;
          height: 440px;
          background-color: #ccc;
          @extend %backgroundSet;
        }
      }

      footer {
        @extend article;

        .nav {
          display: flex;
          justify-content: space-between;

          li {
            font-weight: bold;
            font-size: 12px;
            color: black;
            cursor: pointer;
          }
          li:last-child {
            display: block;
          }
          li::before {
            @extend %redLine;
          }
        }
      }
    }
  }

  .ct1 {
    .i1 {
      background-image: url("../img/pe_i1.jpg");
    }
    .i2 {
      background-image: url("../img/pe_i2.jpg");
    }
    .i3 {
      background-image: url("../img/pe_i3.jpg");
    }
  }

  .ct2 {
    .i1 {
      background-image: url("../img/bo_i1.jpg");
    }
    .i2 {
      background-image: url("../img/bo_i2.jpg");
    }
    .i3 {
      background-image: url("../img/bo_i3.jpg");
    }
  }

  .ct3 {
    .i1 {
      background-image: url("../img/real_i1.jpg");
    }
    .i2 {
      background-image: url("../img/real_i2.jpg");
    }
    .i3 {
      background-image: url("../img/real_i3.jpg");
    }
  }
}
